header{
    background: url(../images/desktop/image-header.jpg) ;
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
    color : $white;
    overflow: hidden;
    margin :0;
    padding: 2rem 0 ;
    height: 100vh;
    width: 100vw;
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding : 0 3rem;
        img{
            align-self: center;
        }
    }
    .nav-links{
        display : flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        li{
        display: inline;
        margin: 0 1rem;
        a{
            color : $white;
            text-decoration: none;
        }
    }
    }
    button{
        font-family: $font-heading;
        border: none;
        border-radius: 30px;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        &:hover{
            background-color: rgba($color: #FFFFFF, $alpha: 0.5);
            color : $white; 
        }
    }
    h1{
        font-weight: 900;
        font-size : 3rem;
        font-family: $font-heading;
        letter-spacing: 5px;
        margin : 5rem;
        text-align: center;
        line-height: 3rem;
        
    }
    div.header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hamburger{
        
        display: none;
    }
}

@media only screen and (max-width : 800px) {
    header{
        
        .nav-links{
            display: none;
            flex-direction:  column;
            width: 100%;
        }
        .nav-links.show{
            display: flex;
            position: absolute;
            background-color: $white;
            border-style: solid;
            width:  80%;
            

            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            top:0;
            margin-top: 8rem;
           
        
            button{
                background-color: $yellow;
            }
            li{
                margin: 1rem;
            }
            a{
                color:$very-dark-grayish-blue;
            }
            ::after{
                content: "";
                position: absolute;
                top: -29px;
                right: -3px;
                width: 0;
                height: 0;
                border-bottom: 30px solid $white;
                border-left: 30px solid transparent;
            }


        }
        
        .hamburger{
            display :block ;
            cursor: pointer;
            z-index: 100;
           
        }
        h1{
            font-size: 2rem;
        }
        
    }  
}

 

