.section5{
    display : flex;
    img{
        width: 25%;
       
    }
}
@media only screen and (max-width : 800px) {
    .section5{
        flex-wrap: wrap;
        
        img{
            width: 50%;
            
        }
       
    }
      
    
        

}