.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 9rem 5rem;
    h4{
        margin-bottom: 4rem;
        letter-spacing: 5px;
        color : $grayish-blue;
    }
    .profiles{
        display: flex;
        justify-content: space-around;
    }
    .profile1,.profile2,.profile3{
        text-align: center;
        margin: 1.5rem;
        p{
            color :$very-dark-grayish-blue;
            

        }
        img{
            margin-bottom: 4rem;
            width: 90px;
            border-radius: 50px;
         
        }
        .name{
            margin-top :4rem;
            p{
                color : $grayish-blue;
                font-size: 0.75rem;
            }

        }
    }
}

@media only screen and (max-width : 800px) {
    .section4{
        width: 100%;
        padding: 6rem 0rem;
        text-align: center;
        
        


    }
    .profiles{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        padding: 3rem 0rem;
        padding-top: 0;
        
    }
    
    h4{
        margin: 2rem 0.25rem;
        letter-spacing: 5px;
        color : $grayish-blue;
    }
}