@import "./font-and-color";
@import "./header";
html{
    font-size : 18px;
    box-sizing: border-box;
}

body{
    
    font-family: $font-content;
    font-weight: 600 ;
}
h1,h2,h3{
    font-family: $font-heading;
}