@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/*===========Fonts============*/
/*============color=============*/
header {
  background: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 2rem 0;
  height: 100vh;
  width: 100vw;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3rem;
}

header nav img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  margin: 0 1rem;
}

header button {
  font-family: "Fraunces", serif;
  border: none;
  border-radius: 30px;
  padding: 1rem 1.5rem;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

header h1 {
  font-weight: 900;
  font-size: 3rem;
  font-family: "Fraunces", serif;
  letter-spacing: 5px;
  margin: 5rem;
  text-align: center;
}

header div.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*=======================Section 1========================*/
.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.section1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  padding: 4rem 5rem;
}

.section1-content h2 {
  margin: 0;
  color: #23303e;
  font-size: 2rem;
}

.section1-content p {
  margin: 1.75rem 0;
  color: #a7abae;
}

.section1-content a {
  font-weight: 900;
}

.section1-img {
  width: 50%;
  height: 600px;
}

.section1-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*=======================Section 1========================*/
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.section2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  padding: 4rem 5rem;
}

.section2-content h2 {
  margin: 0;
  color: #23303e;
  font-size: 2rem;
}

.section2-content p {
  margin: 1.75rem 0;
  color: #a7abae;
}

.section2-content a {
  font-weight: 900;
}

.section2-img {
  width: 50%;
  height: 600px;
}

.section2-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section3-content1 {
  background: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #25564b;
  width: 50%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3-content1 p {
  margin: 2rem 7rem;
  text-align: center;
}

.section3-content2 {
  background: url(/images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #19536b;
  width: 50%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3-content2 p {
  margin: 2rem 7rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

a:link, a:hover, a:after, a:before, a:visited, a:active {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
}
/*# sourceMappingURL=style.css.map */