@import "./font-and-color";
@import "./header";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./section5";
@import "./section6";
*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.75rem;
}
html{
    font-size : 18px;
}

body{
    font-family: $font-content;
    font-weight: 600 ;
}
h1,h2,h3,h4,h5{
    font-family: $font-heading;
    font-weight: 900;
}
a:link,a:hover,a:after,a:before,a:visited,a:active{
    text-decoration: none;
    
   
}
