@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/*===========Fonts============*/
/*============color=============*/
header {
  background: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 2rem 0;
  height: 100vh;
  width: 100%;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

header .nav-bar img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-links li {
  display: inline;
  margin: 0 1rem;
}

header .nav-links li a {
  color: white;
  text-decoration: none;
}

header button {
  font-family: "Fraunces", serif;
  border: none;
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

header h1 {
  font-weight: 900;
  font-size: 3rem;
  font-family: "Fraunces", serif;
  letter-spacing: 5px;
  margin: 5rem;
  text-align: center;
  line-height: 3rem;
}

header div.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hamburger {
  display: none;
}

@media only screen and (max-width: 800px) {
  header .nav-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  header .nav-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: white;
    border-style: solid;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    margin-top: 8rem;
  }
  header .nav-links.show button {
    background-color: #fad400;
  }
  header .nav-links.show li {
    margin: 1rem;
  }
  header .nav-links.show a {
    color: #5a636c;
  }
  header .nav-links.show ::after {
    content: "";
    position: absolute;
    top: -29px;
    right: -3px;
    width: 0;
    height: 0;
    border-bottom: 30px solid white;
    border-left: 30px solid transparent;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  header h1 {
    font-size: 2rem;
  }
}

/*=======================Section 1========================*/
.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.section1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  padding: 4rem 5rem;
}

.section1-content h2 {
  margin: 0;
  color: #23303e;
  font-size: 2rem;
}

.section1-content p {
  margin: 1.75rem 0;
  color: #a7abae;
}

.section1-content a {
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #23303e;
  text-decoration: none;
}

.section1-content .underline::after {
  position: relative;
  content: '';
  display: block;
  width: 120%;
  height: 12px;
  top: -30px;
  -webkit-transform: translateY(1.3em) translateX(-7%);
          transform: translateY(1.3em) translateX(-7%);
  z-index: -1;
  border-radius: 50vw;
  opacity: 30%;
  background-color: #fad400;
}

.section1-content .underline:hover::after {
  opacity: 100%;
}

.section1-img {
  width: 50%;
}

.section1-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 800px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section1-content {
    width: 100%;
    padding: 8rem 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section1-img {
    width: 100%;
  }
  .section1-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
  }
}

/*=======================Section 1========================*/
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.section2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  padding: 4rem 5rem;
}

.section2-content h2 {
  margin: 0;
  color: #23303e;
  font-size: 2rem;
}

.section2-content p {
  margin: 1.75rem 0;
  color: #a7abae;
}

.section2-content a {
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #23303e;
  text-decoration: none;
}

.section2-content .underline::after {
  position: relative;
  content: '';
  display: block;
  width: 120%;
  height: 12px;
  top: -30px;
  -webkit-transform: translateY(1.3em) translateX(-7%);
          transform: translateY(1.3em) translateX(-7%);
  z-index: -1;
  border-radius: 50vw;
  opacity: 30%;
  background-color: #fe7867;
}

.section2-content .underline:hover::after {
  opacity: 100%;
}

.section2-img {
  width: 50%;
}

.section2-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 800px) {
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2-content {
    width: 100%;
    padding: 8rem 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section2-img {
    width: 100%;
  }
  .section2-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
  }
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section3-content1 {
  background: url(../images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #25564b;
  width: 50%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3-content1 p {
  margin: 2rem 6rem;
  text-align: center;
}

.section3-content2 {
  background: url("../images/desktop/image-photography.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #19536b;
  width: 50%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3-content2 p {
  margin: 2rem 6rem;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3-content1 {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section3-content1 p {
    margin: 2rem 2rem;
  }
  .section3-content2 {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section3-content2 p {
    margin: 2rem 2rem;
  }
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9rem 5rem;
}

.section4 h4 {
  margin-bottom: 4rem;
  letter-spacing: 5px;
  color: #a7abae;
}

.section4 .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section4 .profile1, .section4 .profile2, .section4 .profile3 {
  text-align: center;
  margin: 1.5rem;
}

.section4 .profile1 p, .section4 .profile2 p, .section4 .profile3 p {
  color: #5a636c;
}

.section4 .profile1 img, .section4 .profile2 img, .section4 .profile3 img {
  margin-bottom: 4rem;
  width: 90px;
  border-radius: 50px;
}

.section4 .profile1 .name, .section4 .profile2 .name, .section4 .profile3 .name {
  margin-top: 4rem;
}

.section4 .profile1 .name p, .section4 .profile2 .name p, .section4 .profile3 .name p {
  color: #a7abae;
  font-size: 0.75rem;
}

@media only screen and (max-width: 800px) {
  .section4 {
    width: 100%;
    padding: 6rem 0rem;
    text-align: center;
  }
  .profiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 0rem;
    padding-top: 0;
  }
  h4 {
    margin: 2rem 0.25rem;
    letter-spacing: 5px;
    color: #a7abae;
  }
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section5 img {
  width: 25%;
}

@media only screen and (max-width: 800px) {
  .section5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section5 img {
    width: 50%;
  }
}

.section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  background-color: #98cdc2;
  overflow: hidden;
}

.section6 #logo-bottom {
  -webkit-filter: invert(46%) sepia(15%) saturate(1108%) hue-rotate(118deg) brightness(103%) contrast(90%);
          filter: invert(46%) sepia(15%) saturate(1108%) hue-rotate(118deg) brightness(103%) contrast(90%);
}

.nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-bottom a {
  margin: 1.5rem;
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

.nav-bottom a:hover {
  color: white;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 0;
}

.social-media a {
  margin: 1rem;
}

.social-media a:hover {
  -webkit-filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(94deg) brightness(150%) contrast(105%);
          filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(94deg) brightness(150%) contrast(105%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */